body, h1, h2, ul, li,p {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

*{
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #f1f1f1 30%);
    font-family: "Noto Serif";
    color: #1a1a1a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(500px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.products{
    max-width: 900px;
    cursor: pointer;
    width: 900px;
    margin: 100px auto 0 auto;
    .product {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      background: #fff;
      box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
      .product_img{
        max-width: 300px;
        margin-right: 40px;
      }
    
      .p_name {
        font-size: 3rem;
        line-height: 1;
      }
    
      .p_price{
        color: rgba(0, 0, 0, .5);
      }
    }
}
.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
    }
    .m_cont{
        position: relative;
        z-index: 1;
        background: linear-gradient(to right, transparent 250px, #fff 250px);
        display: grid;
        align-items: end;
        grid-gap: 50px;
        padding: 0px 50px 50px 0px;
        animation: fadeIn 0.9s forwards;

        .m_img{
            grid-column: 1;
            margin-top: 50px;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, .1);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, .2);
            img{
                max-width: 300px;
                display: block;
            }
        }
        .m_data{
            grid-column: 2;
            max-width: 600px;
            .m_btn_close {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                border:none;
                position: absolute;
                top: -15px;
                right: -15px;
                background: #000;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, .2);
                cursor: pointer;
                transition: 0.4s;
                &:hover{
                    transition: 0.4s;
                    color: #000;
                    background: #808080;
                }
            }
            .m_btn{
                margin-top: 80px;
                background: #000;
                color: #fff;
                cursor: pointer;
                padding: 10px 25px;
                border: none;
                font-size: 1rem;
                font-family: "Noto Serif";
                transition: 0.4s;
                &:active{
                    transition: 0.4s;
                    background: #808080;
                    color: #000;
                }
                &:hover{
                    transition: 0.4s;
                    color: #000;
                    background: #808080;
                }
            }
            .out_stock{
                @extend .m_btn;
                background: #808080;
                cursor: help;
            }
        }
        .rating{
            grid-column: 2;
            .rating_label{
                font-size: 3rem;
            }
            .review{
             border-bottom: 1px solid rgba(0, 0, 0, .1);   
             padding-bottom: 20px;
                .r_descrption{
                    color: rgba(0, 0, 0, .7);
                    margin: 20px 0px 5px 0;
                }
                .r_user{
                    font-weight: bold;
                }
            }
        }
    }
}

.alert{
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 3;
    width: 70%;
    text-align: center;
    display: none;
    justify-content: center;
    .alert_text{
        background: #fff;
        display: inline-block;
        padding: 20px 40px;
        border: 2px solid #000;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .2);
        font-weight: bold;
    }
}
.active{
    display: flex;
    animation: fadeInDown 0.5s forwards;
}
